*{
  margin: 0;
  padding: 0;
}



body {
   background-image: url(../img/trg.png);

  }


.parent {
  border-bottom: 2px solid black;
  display: block;
  position: relative;
  width: 993px; /* Ширина элемента в пикселах */
min-height: 900px;
height: 1px;
    margin: auto; /* Выравниваем по центру */
    background: #fff;




}
.top{
margin-left: 25px;
display: block;
height: 200px;


}

.top{float: right;}




.logo{
  float: left;
  margin: 20px;



}
.logo img{
  position: absolute;

margin-top: 28px;

}




.cont{

  float: right;
  list-style: none;
  color: #128aa7;
  margin-right: 25px;
  margin-bottom: 40px;
margin-top: 15px;
}

.cont li{

list-style: none;
   padding-top: 5px;
font-size: 12px;
  font-family: 'Open Sans', sans-serif;}

.count img{


/*margin-left: 9px;*/

}





.count{
  font-family: 'Open Sans', sans-serif;

  clear: right;
margin-top: 130px;
}


.count p{
  /*font-family: 'Open Sans', sans-serif;*/
text-decoration: underline;

font-size: 10px;
font-weight: bold;
}

   .count li{

/*width: 20px;*/
/*height: 20px;*/
/*display: block;*/
    float: right;


/*margin-left: 30px;*/
     list-style: none;

     padding-top: 15px;
     padding-right: 5px;
     padding-bottom: 5px;
     padding-left: 5px;
    text-decoration: underline;
    color: #128aa7;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
    min-width: 47px
   }


.count .center p{padding-left: 10px;
}



 .face img{

margin-top: 13px;






}
   .sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
   }

.sea{
  width: 100%;
  display: inline-block;

}

#menu{
  position: absolute;


display: inline-block;
background-color: #333333;
margin-top: -5px;
margin-right: 0;
width: 100%;

}


#menu li{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
display: inline-block;
text-align: center;

margin-right: 0;
  padding: 0;

  list-style: none;
  width: 136px;
}



#menu  ul {

margin-right: 0;
height: 30px;

    width: 137px; /* Ширина меню */
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
   }
#menu    li ul {

    position: absolute; /* Подменю позиционируются абсолютно */
    display: none;
    margin-right: 0; /* Скрываем подменю */
    /*mamargin-right: 0;rgin-left: 165px; /* Сдвигаем подменю вправо */*/
    /*margin-top: -2em; /* Сдвигаем подменю вверх */*/
   }
#menu    li a {
     position: relative;
   text-align:center; display:block;
    vertical-align:-8px;
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: white; /* Цвет текста */
margin-right: 0;
    background-color: #333333; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
   }

#menu li:before {
     content: "";
     border-width: 0.5em;
     border-style: solid;
     border: 3px solid transparent;	border-top: 6px solid white;  position: absolute;
     position: absolute;
     top: 0.7em;
     left: 18.8em;

   }

   #menu li:nth-child(3):after{content: "";
  border-width: 0.5em;
  border-style: solid;
border: 3px solid transparent;	border-top: 6px solid white;  position: absolute;
  top: 0.7em;
  left: 27.25em;
}



#menu    li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
     /* Цвет фона активного пункта */
   }
#menu    li:hover ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
   }


#menu li:nth-child(4):after{content: "";
border-width: 0.5em;
border-style: solid;
border: 3px solid transparent;	border-top: 6px solid white;  position: absolute;
top: 0.7em;
left: 38.25em;

}


drg {
  clear: both;

}

.info{
  border-right: 1px solid #c7cacf;

  float: left;
  padding: 15px;
  width: 18%;
  background-color: #edeef0;
  margin-top: 20px;
height: 398px;
}
.info h2{text-align: center;
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
}
.info p{
line-height: 24px;
font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.news{
border-left: 1px solid #c7cacf;
  width: 18%;
  float: right;
  padding: 15px;
  margin-top: 20px;
  background-color: #edeef0;
height: 398px;
}
.news h2{text-align: center;
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
}
.news p{

line-height: 24px;
font-size: 14px;
  font-family: 'Open Sans', sans-serif;}

.footer{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
text-align:  center;
color: white;
}


















.
