* {

margin: 0;
padding: 0;

}
  h1{
    padding-bottom: 50px;


    margin: 0 auto;

text-align: center



  }

input{
display: table;
margin-top: 10px;



}


form{display: table;
    margin-left: 213px;
    margin-top: 13px;
    text-align: center;
}

#butt input{
  margin-left: 565px;
      /* margin: 0 auto; */
      margin-top: 85px;
      width: 300px;
      height: 50px;

}
