label{
      cursor: default;
}


h1{


text-align: center;

}


ul{

  display: block;
list-style-type: none;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}


#butt input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  /*margin-left: 565px;*/
      /* margin: 0 auto; */
      margin-top: 85px;
      width: 300px;
      height: 50px;

}
