*{
margin: 0;
padding: 0;

}

body{
 background-image: url(../img/1.jpg);
background-repeat: no-repeat;
}


.parent{
2
content: ".";
3
display: block;
4
height: 0;
5
clear: both;
6
visibility: hidden;
7
}

 header{
   position: relative;
width: 100%;
float: right;
background-color: #075291;
height: 38px;
 }


.nav2{float: right;
list-style: none;
display: inline-block;}

.nav2 a{
  display: block;
font-weight: bold;
padding: 10px 30px;

}

.nav2 li{
float: right;
display: inline-block;


}

.img{
  border-left: 1px solid #fff;
}

.nav2 img{
  position: absolute;



}


.nav2 li:hover{
background: linear-gradient(to top, #2e7ac4, #50afdc );
}



 .nav{
margin-right: 20px;
   float: right;
   list-style: none;
   display: inline-block;
 }







.nav a{
  display: block;
font: bold;
color: #4eabda;
padding: 10px 30px;
}

.nav li{
float: right;
display: inline-block;


}
.nav li:hover{
  background-color: #4eabda;
  color: white;}
  .nav a:hover{color: white;


  }




header a{
text-decoration: none;
color: white;

}


.menu{

position: absolute;
margin-top: 80px;
margin-left: 35%;
margin-right: 35%;
height: 630px;
width: 550px;
background-color: rgba(90, 90, 90, 0.6);

clear: both;
top: 100px;
}

.menu .head{
  display: block;
  height: 50px;

margin-top: 10px;
color: white;
border-bottom: 1px solid white;

}
 h2{
   margin-left: 210px;
 }

.menu .input{

  margin-left: 130px;
  margin-top: 20px;
}







h3 {
margin-top: 20px;
   font-size: 24px;
   font-weight: normal;
   text-align: center;
   color: #4d544d;
 }
 h3 > span {
   display: inline-block;
   margin: 0 .4em;
 }
 h3 > span:before,
 h3 > span:after {
   content: '';
   position: absolute;
   width: 100%;
   border-top: 1px solid #4e4e4e;
   margin-top: .6em;
 }
 h3 > span:before {
   margin-left: -24%;
  width: 126px
 }
 h3 > span:after {
   margin-left: 1%;
  width: 113px;}

form{

  margin-left: 128px;
margin-top: 30px;}

form input{
  border: 0 solid #FFFFFF;
height: 35px;
width: 266px;
  background-color: #101010;
  color: white;
  padding-left: 20px;
}


form div{
margin-top: 20px;

}
.name input:hover{
background-color: #1b5288;
}
.LName input:hover{
background-color: #1b5288;
}
.email input:hover{
background-color: #1b5288;
}
.pass input:hover{
background-color: #1b5288;
}
.rpass input:hover{
background-color: #1b5288;
}


.check input{
color: white;
  width:25px;
  height: 12px;
}
.check span{
  color: white;
}


.but input{
  width: 150px;
  height: 35px;
margin-left: 50px;
background: linear-gradient(to top, #3686ca, #69c6e6 );
  padding: 0;
}


.footer{
  margin-top: 10px;
  margin-left: 130px;
width: 300px;
font-size: 11px;
color: #cccccc;
}

.footer2{
  margin-top: 5px;
margin-left: 200px;
width: 300px;
font-size: 11px;
color: #cccccc;
}
