*{
margin: 0;
padding: 0;

}


*/



@font-face {
    font-family: 'Helvetica';
    src: url('../fontshelveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fontshelveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
 background-image: url(../img/1.jpg);
background-repeat: no-repeat;
}
.parent{

display: flex;
flex-direction: column;
min-height: 600px;
justify-content:center;
align-items:center;

}

.parent:after {
2
content: ".";
3
display: block;
4
height: 0;
5
clear: both;
6
visibility: hidden;
7
}

 header{
   position: relative;
width: 100%;
float: right;
background-image: url(../img/Background.png);
height: 36px;
margin-bottom: 211px;
 }


.top_flex{
    height: 30px;
    width: 1180px;
    display: block;

    margin: 0 auto;}



.nav2{
  height: 36px;
  float: right;
list-style: none;
display: inline-block;

}

.nav2 li:first-child a{font-family: 'Helvetica';
font-size: 14px;
display: block;
font-weight: bold;
padding: 10px 0px;
margin-left: -3px;}


.nav2_border{



    height: 30px;
    border-left: 1px solid #56a2dc;

    margin-top: 3px;
}



.nav2 a{

  font-family: 'Helvetica';
  font-size: 14px;
  display: block;
font-weight: bold;
padding: 10px 0px;
margin-left: 38px;
}

.nav2 li{
  margin-left: 0px;

    width: 155px;
    float: right;
    display: inline-block;
    text-align: center;

}

.nav2 li:first-child{
  width: 178px;
  padding-right: 10px;
      padding-left: 10px;
}




.nav2 img{padding-left: 18px;
  position: absolute;



}


.nav2 li:hover{
background: linear-gradient(to top, #2e7ac4, #50afdc );
}



 .nav{
margin-right: 12px;
   float: right;
   list-style: none;
   display: inline-block;
 }







.nav a{
  font-family: 'Helvetica';
  font-size: 14px;
  display: block;
font: bold;
color: #60b5ed;
padding: 10px 13px;
}

.nav li{
float: right;
display: inline-block;


}
.nav li:hover{
  background-color: #4eabda;
  color: white;}


  .nav a:hover{
    color: white;


  }




header a{font-family: 'Helvetica';
text-decoration: none;
color: white;

}


.menu{
  margin: auto;
  flex-grow: 1;
  justify-content:center;
  align-items:center;
height: 630px;
width: 550px;
background-color: rgba(90, 90, 90, 0.6);


}


fieldset{    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 267px;


}

legend{font-family: 'Helvetica';
font-size: 14px;
color: #999999;

  text-align: center;}

fieldset input{font-family: 'Helvetica';
  border: 1px solid #666666;
}



.menu .head{

  height: 61px;

margin-top: 10px;
color: white;
border-bottom: 1px solid white;

}
 h2{ padding-top: 15px;

    font-family: 'Helvetica';

    text-align: center;
 }

.menu .input{
  text-align: center;

      margin-top: 29px;}







h3 {font-family: 'Helvetica';
margin-top: 20px;
   font-size: 24px;
   font-weight: normal;
   text-align: center;
   color: #4d544d;
 }
 h3 > span {
   display: inline-block;
   margin: 0 .4em;
 }
 h3 > span:before,
 h3 > span:after {
   content: '';

   width: 100%;
   border-top: 1px solid #4e4e4e;
   margin-top: .6em;
 }
 h3 > span:before {
   margin-left: -24%;
  width: 126px
 }
 h3 > span:after {
   margin-left: 1%;
  width: 113px;}

form{

  text-align: center;
  margin-top: 30px;
}

form input{
  border: none;
height: 35px;
width: 266px;
  background-color: #101010;
  color: white;
  padding-left: 20px;
}


fieldset input:focus {box-shadow: 0px 0px 3px 3px #4d88af, 0 0 1em #4b87af;
background-color: #1b5288;
border: none;

}




form div{
margin-top: 20px;

}

.check{text-align: center;}

.check input{
color: white;
  width:25px;
  height: 12px;
}

.check label{

color: #cccccc;

font-size: 14px;


}



.but input{
font-family: 'Helvetica';

   border-radius: 4px 4px 4px 4px;
  width: 150px;
  height: 35px;

background: linear-gradient(to top, #3686ca, #69c6e6 );
  padding: 0;
}


.footer{font-family: 'Helvetica';
  margin-top: 10px;
  text-align: center;

font-size: 11px;
color: #cccccc;
}




.footer span{

font-family: 'Helvetica';
  text-align: center;}


.footer p{font-family: 'Helvetica';
  text-align: center;}
  .footer2{font-family: 'Helvetica';
    text-align: center;
    font-size: 11px;
      color: #cccccc;}
