*{

margin: 0;
padding: 0;

}

body{

background-color: #f9f9f9;

}
.parent {

position: relative;
margin: auto;
width: 1562px;
height: 1000px;
margin: auto;
background: #fff;
}



.logo{
display: block;
margin: auto;
width:90%;
 height: 130px;
overflow: hidden;
}
.logo img{
   margin-top: 35px;
 }


.menu{

  width: 92%;
  height: 40px;
  margin: 0 auto;
background: linear-gradient(to top, #464545, #525151, #5e5e5e);
}

.menu a{

font-family: 'Open Sans', sans-serif;
font-size: 15px;
  text-decoration: none;
  color: white;
}


.menu li{display: inline-block;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to top, #464545, #525151, #5e5e5e);
display: inline-block;
padding: 7px 37px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;

}

.menu li:hover{
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
background: linear-gradient(to top, #2f2f2f, #4a4a4a);

}


.sidebar ul {
border-collapse: collapse;
  width: 240px;
  float: left;
  margin-top: 85px;
  margin-left: 57px;
  padding: 10px;
  padding-left: 10px;

}


.sidebar li{

  border: 0.5px solid #c8c8c8;

list-style:none;
padding: 10px;
padding-left: 25px;
border-top: none;
}
.sidebar li:first-child{

  border-top: 0.5px solid #c8c8c8;
}



.sidebar a{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
color: #656363;


}
.sidebar a:hover{
color: #FFF;
margin-left: 15px;
color: black;


}

.sidebar li:hover{



background: #f9f9f9;
}

.velik{
  position: absolute;
  display: block;
  border: 1px solid grey;
  height: 400px;
  width: 673px;

  margin-top: 100px;
margin-left: 425px;


}
.velik p{
display: block;

  font-family: 'Open Sans', sans-serif;
font-size: 13px;


margin-top: 78px;
text-align: center;
padding-left: 5px;
}



.velik img{

  padding-left: 89px;
  padding-top: 47px;

}




footer{


margin: 0 auto;

margin-top: 715px;


width: 92%;
height: 30px;
padding-top: 10px;
background-color: #e1e1e1;

}


footer a{
  font-family: 'Open Sans', sans-serif;
font-size: 13px;
list-style: none;
text-decoration: none;
color: black;

}

footer ul{

  list-style: none;
  /*float: left;*/
  margin-bottom: 100px;
}
footer li{
  padding-left: 80px;
  display: inline-block;
}

footer span{

  font-family: 'Open Sans', sans-serif;

  float: right;}
