*{

margin: 0;
padding: 0;

}

body{

background-color: #f9f9f9;

}
.parent {

position: relative;
margin: auto;
width: 1054px;
padding-bottom: 92px;
margin: auto;
background: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.logo{
display: block;
margin: auto;
width:90%;
 height: 119px;
overflow: hidden;
}
.logo img{
  position: absolute;
   margin-top: 40px;
   margin-left: -7px;
 }


.menu{

  width: 92%;
  height: 40px;
  margin: 0 auto;
  background: linear-gradient(to top, #464545, #525151, #5e5e5e);
}

.menu a{

font-family: 'Open Sans', sans-serif;
font-size: 15px;
  text-decoration: none;
  color: white;
}


.menu li{display: inline-block;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to top, #464545, #525151, #5e5e5e);
display: inline-block;
padding: 7px 38px;
border-left: 1px solid transparent;
border-right: 1px solid transparent;

}

.menu li a:first-child{margin-left: -13px;}


.menu li:first-child{
  padding: 7px 40px;
}




.menu li:hover{
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
background: linear-gradient(to top, #2f2f2f, #4a4a4a);

}


.sidebar ul {
border-collapse: collapse;
  width: 240px;
  float: left;
  margin-top: 31px;
  margin-left: 35px;
  padding: 10px;
  padding-left: 10px;

}


.sidebar li{

  border: 0.5px solid #c8c8c8;

list-style:none;
padding: 10px;
padding-left: 25px;
border-top: none;
}
.sidebar li:first-child{

  border-top: 0.5px solid #c8c8c8;
}



.sidebar a{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
color: #656363;


}
.sidebar a:hover{
color: #FFF;
margin-left: 15px;
color: black;


}

.sidebar li:hover{



background: #f9f9f9;
}

.velik{
  position: absolute;
  display: block;
  border: 1px solid #c8c8c8;
  height: 400px;
  width: 675px;

  margin-top: 41px;
margin-left: 332px;


}
.velik p{
display: block;

  font-family: 'Open Sans', sans-serif;
font-size: 13.33px;



margin-top: 76px;
text-align: left;
padding-left: 20px;
}



.velik img{

  padding-left: 89px;
  padding-top: 47px;

}




footer{


margin: 0 auto;

margin-top: 683px;


width: 92%;
height: 30px;
padding-top: 10px;
background-color: #e1e1e1;

}


footer a{
  font-family: 'Open Sans', sans-serif;
font-size: 13px;
list-style: none;
text-decoration: none;
color: black;

}

footer ul{

  list-style: none;
  /*float: left;*/
  margin-bottom: 100px;
}
footer li{
  padding-left: 69px;
  display: inline-block;
}

footer span{margin-right: 27px;
font-size: 13.3px;
  font-family: 'Open Sans', sans-serif;

  float: right;}


footer li:first-child{
  margin-left: -40px;
}



footer li:hover{
  text-decoration: underline;}
