/**{ margin: 0;
padding: 0;
}*/
table {border-spacing:0;
border-collapse: collapse;
}

tr {
  margin: 0;
  padding: 0;

}
.two td{
border-bottom: none;
}
td{
  border: 8px solid black;
  width: 100px;
  height: 100px;
}
